.intro-wrapper {
  display: flex;
  flex-direction: column;
  background-color: #e5d0e3;
  padding-bottom: 40px;
  margin: auto;
  gap: 40px;
}

.main-header {
  font-size: 48px;
  margin-bottom: 20px;
  text-align: center;
  padding-bottom: 50px;
}
.intro-text {
  font-size: 20x;
  text-align: center;
  line-height: 1.5;
  padding-bottom: 50px;
}

#book-now-intro {
  border: #af63a8 solid; /* Added explicit border style and width */
  background-color: #e5d0e3;
  align-items: center;
  color: black;
  transition: background-color 0.5s ease, color 0.5s ease;
}

#book-now-intro:hover {
  background-color: #af63a8;
  color: #fbf9ef;
}

#learn-more-intro {
  border: #af63a8 solid;
  color: black;
  text-decoration: none;
  transition: background-color 0.5s ease, color 0.5s ease;
}
#learn-more-intro:hover {
  background-color: #4f9dfe;
  border: #4f9dfe solid;
  color: #fbf9ef;
}
.intro-buttons {
  display: flex;
  justify-content: center;
}

.selector-intro {
  width: auto;
  border-radius: 12px;
  align-items: center;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
  padding: 12px 17px;
  margin: 10px;
}

@media screen and (min-width: 890px) {
  .selector-intro {
    display: none;
  }
}

.dog {
  width: 100%;
  border-radius: 12px;
  object-fit: cover;
  aspect-ratio: 16 / 9;
}

.intro-logo {
  width: 500px;
  margin: auto;
  overflow: hidden;
  object-fit: cover;
}
