.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #e5d0e3;
  color: black;
}
.swiper {
  max-width: 100%;
}

.main-wrapper {
  margin-left: 75px;
  margin-right: 75px;
  max-width: 100%;
  margin-top: 150px;
}

.features-text {
  padding-top: 20px;
  padding-bottom: 20px;
  cursor: pointer;
}

.features-text:hover {
  border-left: black solid;
  padding-left: 20px;
  transition: padding 0.3s ease;
}

@media screen and (max-width: 890px) {
  .features-text {
    width: 100%;
  }
}
