.header {
  display: flex;
  align-items: center;
  background-color: #fbf9ef;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  max-height: 100px;
}
.header-wrapper {
  width: 100%;
}

.navbar-mobile {
  display: none;
}

.navbar {
  display: flex;
  align-items: center;
  width: 100%;
  margin-left: 35px;
}

.selector {
  color: transparent;
  background-image: linear-gradient(to right, #658352 50%, #343a40 50%);
  background-position: 100%;
  background-size: 200% 100%;
  background-clip: text;
  -webkit-background-clip: text;
  transition: background-position 0.5s ease;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  text-align: center;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
}

.selector:hover {
  background-position: 0;
}

.navbar-right {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  margin-right: 35px;
}

.selector-2 {
  width: auto;
  border-radius: 25px;
  align-items: center;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
  padding: 12px 17px;
  margin: 10px;
}

#book-now {
  border: #658352 solid; /* Added explicit border style and width */
  background-color: #658352;
  align-items: center;
  color: #e9e4c3;
  transition: background-color 0.5s ease, color 0.5s ease;
}

#book-now:hover {
  background-color: black;
  color: #fbf9ef;
}

#learn-more {
  border: #658352 solid;
  color: #658352;
  text-decoration: none;
  transition: background-color 0.5s ease, color 0.5s ease;
}
#learn-more:hover {
  background-color: black;
  color: #fbf9ef;
}
.nav-logo {
  width: 130px;
}
.reset-btn {
  appearance: none;
  cursor: pointer;
  background: transparent;
  border: none;
  outline: none;
}
.icon-dropdown {
  display: inline-block;
  font-family: monospace;
  font-size: 24px;
  padding: 10px;
  &:hover,
  &:focus {
    span {
      background: blue;
    }
  }
  /* transform: rotate(90deg); */
  span {
    display: block;
    width: 20px;
    height: 3px;
    margin-bottom: 4px;
    background: #000;
    border-radius: 2px;
    transition: all 0.2s linear;
  }
  &.open {
    span:nth-child(1) {
      transform: translatey(5px) rotate(45deg);
      margin-bottom: 0;
    }
    span:nth-child(2) {
      transform: translatey(3px);
      opacity: 0;
    }
    span:nth-child(3) {
      transform: translatey(-5px) rotate(-45deg);
      margin-bottom: 0;
    }
  }
}

@media (max-width: 890px) {
  .navbar-right {
    margin-right: 0px;
  }
  .navbar {
    margin-left: 0px;
  }
}

.dropdown {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #fbf9ef;
  z-index: 3;
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: center;
}

.dropdown-container {
  width: 100%;
  position: relative;
}

.dropdown a {
  margin: 20px;
}
